body {
	background-image: url("../images/ferrari_engine_wallpaper_2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
	font-family: 'Gruppo', cursive;
	font-weight: bold;
	font-size: 20px;
}

/*.col-md-12 {
	background-color: #eee;
}*/

#word {
	/*text-decoration: underline;*/
	letter-spacing: 5px;
	/*visibility: hidden;*/
}

#msg {
	visibility: hidden;
}

.underline {
	text-decoration: underline;
}

.jumbo-h1 {
	font-family: 'Racing Sans One', cursive;
}

.jumbo-h2 {
	font-weight: bold;
}